@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
  color:rgb(14, 77, 102);
}

.text{
 background-color:rgb(82, 96, 133, 0.85);
        border: 2px solid;
        border-color: rgb(202, 80, 23);
        width: fit-content;
        border-radius: 15px;
        padding:8px;
}

#smallhead{
  font-family: "Poetsen One", sans-serif;
  color:rgb(14, 77, 102)
}

p{
  color: rgb(48, 3, 3);
}

